/* stylelint-disable selector-class-pattern */
.an_view {
  font-family: sans-serif;
}

.an_view .rs-message-container {
  gap: 0.8rem;
  padding: 1rem;
  align-items: center;
}

.an_view .rs-message-container .rs-message-icon {
  margin: 0;
}

.an_view .rs-message-container .rs-message-icon .rs-icon {
  width: 1rem;
  height: 1rem;
}

.an_view .rs-message-container .rs-message-content .rs-message-header {
  line-height: inherit;
  font-size: 0.875rem;
}
